
@font-face {
	font-family: 'Numans', sans-serif;
}
@font-face {
	font-family: 'Ubuntu', sans-serif;
}

body{
	font-family: 'Ubuntu';
	background-color: black;
	color: white;
}

#main{
	padding: 1em;
}

.clock{
	font-family: "Numans";
	color: #ff8;
	text-align: center;
	font-size: 180%;
	line-height: 0.3em;
	text-shadow: 0 0 1em #c6ff00;
}

.logo {
position: fixed;
    bottom: 0; 
    right: 0;
    width: 20%; 
    height: 20%;
	background-size: 100% auto;
    background-image:url('tiklogo.png');
    background-repeat: no-repeat;
}

.hidden{
	display: none;
}

.bold{
	font-weight: bolder;
}

.today{
	border-radius: 2px;
	border: 0.1em solid #000;

	background: #53B44F; /* Old browsers */
	background: -moz-linear-gradient(left, #53B44F 0%, #000000 47%); /* FF3.6+ */
	background: linear-gradient(to right, #53B44F 0%,#000000 47%); /* W3C */
}