
@font-face {
	font-family: 'Titillium Web', sans-serif;
}

body{
	font-family: "Titillium Web", sans-serif;
	background: black;
	color: white;
}

#main{
	padding: 1em;
}


.title{
	color: #efe;
	text-align: center;
}

.icon {
	height:2em;
	width:2em;
	vertical-align:middle;
}

.hidden{
	display: none;
}

.bold{
	font-weight: bolder;
}