
@font-face {
	font-family: 'Numans', sans-serif;
}
@font-face {
	font-family: 'Arvo', sans-serif;
}

body{
	font-family: 'Numans';
	background-color: #0a0a0a;
	color: #eee;
    height: 100%;
	overflow: hidden;
	background-image:url('bg2.jpg');
	background-repeat: no-repeat;
	/*background-size: auto 100%;*/
}

#main{
	padding: 0.5rem;
}

#busContainer{
	color: #444;
}

#eventContainer{
	font-size: 120%;
	position: relative;
}

.specrow{
	font-weight: lighter;
	position: relative;
	top: -0.7rem;
}

.specrow i{
	color: #fa5;
}

.descrow{
	font-style: italic;
	position: relative;
	top: -0.7rem;
}

.evtItem{
	border-left: 0.5em solid #444;
	border-radius: 1rem;
	padding-left: 0.5em;
}

.title {
	font-family: "Arvo";
	font-weight: bolder;
	font-size: 180%;
	text-align: center;
	padding-bottom: 1em;
	background : -moz-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.25) 10%, rgba(255,255,255,0) 80%);
	border-radius: 1em;

	text-shadow: 0 1px 0.3em #ff0000;

}

.clock{
	text-align: center;
	font-size: 190%;
	line-height: 0.3em;
	
	background : -moz-linear-gradient(bottom, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.25) 10%, rgba(255,255,255,0) 80%);
	border-radius: 1em;

	text-shadow: 0 0 0.66em #fa5;
}

.logo {
	position: fixed;
    bottom: -5rem; 
    right: -5rem;
    width: 25rem; 
    height: 25rem;
	background-size: 100% 100%;
    background-image:url('tiklogo.png');
}

/*@media all and (min-width: 700px) {
  .logo {
    
  }
}*/

.bottomdim{
	position: fixed;
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 10%;
    background : -moz-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);

}


.today{
	color: #fee;
	font-family: "Arvo";
	font-weight: lighter;
	background-image:url('labl_red.png');
	padding-left: 1.5em;
	padding-right: 0.5em;
	background-size: 100% 100%;
	text-shadow: 0 0 0.1em #000;
	display: inline-block;

	position: relative;
	top: 0.5rem;
	left: -0.3rem;
	
	-moz-transform: rotate(8deg);
    transform: rotate(8deg);
}

.tomorrow{
	color: #fff;
	font-family: "Numans";
}

.wide-space{
	margin-left: 1em;
}

.hidden{
	display: none;
}