
@font-face {
	font-family: 'Numans', sans-serif;
}
@font-face {
	font-family: 'Ubuntu', sans-serif;
}

body{
	font-family: 'Ubuntu';
	background-color: #111;
	color: #eee;
/*	height: 100%;
	overflow: hidden;*/
}

#main{
	padding: 1em;
	top: 10px;
}

#busContainer{
	color: #444;
}

#eventContainer{
	font-size: 120%;
}

.specrow{
	font-weight: lighter;
	position: relative;
	top: -0.5rem;
}

.descrow{
	position: relative;
	top: -0.5rem;
	padding-bottom: 1em;
}

.clock{
	font-family: "Numans";
	color: #eee;
	text-align: center;
	font-size: 180%;
	line-height: 0.3em;
	padding-bottom: 0.1em;
	width: 25%;
	
	background : -moz-linear-gradient(bottom, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.25) 10%, rgba(255,255,255,0) 80%);
	border-radius: 1em;

	text-shadow: 0 0 0.66em #ffee00;
}

.logo {
	position: fixed;
    bottom: 0; 
    right: 0;
    width: 20%; 
    height: 20%;
	background-size: 100% auto;
    background-image:url('tiklogo.png');
    background-repeat: no-repeat;
}

.title {
	font-family: "Numans";
	font-size: 180%;
	text-align: center;
	padding-bottom: 1em;
	background : -moz-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.25) 10%, rgba(255,255,255,0) 80%);
	border-radius: 1em;

	text-shadow: 0 1px 0.3em #ff0000;

}


.label{
	text-align: center;
	width: 12em;
	height: 3em;
	border-radius: 4px;
	border: 0.2em solid #fff;
}

.today{
	font-weight: bold;
	color: #fff;
	font-family: "Numans";

}

.tomorrow{
	color: #fff;
	font-family: "Numans";
}

.wide-space{
	margin-left: 1em;
}

.hidden{
	display: none;
}